@cherset "UTF-8";

/*全体*/
*{
	color:#000000;
	background-color:#a6a6a6;
}
/*ヘッダー*/
h1#h-title{
	padding:30px;
	color:#ffffff;
	background-image:url("../images/header-image.png");
	background-repeat:no-repeat;
}
h1#h-title a{
	text-decoration:none;
}
/*左中央コンテンツ*/
div#content{
	float : left;
	margin : 0;
}

/*左メニュー*/
nav#navi{
	background-color:#82bedc;
	float:left;
}
h3#menutext{
	padding-left:30px;
	background-color:#82bedc;
}
ul#menu{
	list-style-type:none;
	background-color:#82bedc;
}
li#menu01,li#menu02{
	background-color:#82bedc;
}
li#menu01 a,li#menu02 a{
	background-color:#82bedc;
}
/*右連絡先*/
address#address{
	float : right;
	margin:5px;
}