@cherset "UTF-8";

/*全体*/
*{
	width : 1000px;
	color:#000000;
	background-color:#a6a6a6;
}
/*ヘッダー*/
h1#h-title{
	padding:30px;
	color:#ffffff;
	background-image:url("../images/header-image.png");
	background-repeat:no-repeat;
}
h1#h-title a{
	text-decoration:none;
}
/*左メニュー*/
nav#navi{
	width:150px;
	background-color:#82bedc;
	float:left;
}
h3#menutext{
	max-width : 150px;
	padding-left:30px;
	background-color:#82bedc;
}
ul#menu{
	max-width : 150px;
	list-style-type:none;
	background-color:#82bedc;
}
li#menu01,li#menu02{
	max-width : 150px;
	background-color:#82bedc;
}
li#menu01 a,li#menu02 a{
	background-color:#82bedc;
}
/*中央右コンテンツ*/
div#content{
	width:750px;
	float:right;
}

address#address{
	float:right;
	margin:20px;
}