@cherset "UTF-8";

/*全体*/
*{
	color:#000000;
	background-color:#a6a6a6;
}
/*左メニュー*/
nav#navi{
	width:150px;
	background-color:#82bedc;
	float:left;
}
h3#menutext{
	background-color:#82bedc;
}
ul#menu{
	list-style-type:none;
	background-color:#82bedc;
}
li#menu01,li#menu02,li#menu03{
	background-color:#82bedc;
}
/*中央右コンテンツ*/
div#content{
	width:750px;
	float:right;
}
article#text{
	float:left;
}
address#address{
	float:right;
	margin:20px;
}