@charset "UTF-8";

*{
	width:1200;
	font-family:'Anonymous Pro', monospace;
	font-size:30px;
}

textarea#code{
	width:1200px;
	height:600px;
	font-family:'Anonymous Pro', monospace;
	font-size:21px;
}