@charset "UTF-8";

*{
	width:100%;
	height:100%;
	font-family:'Anonymous Pro', monospace;
	font-size:5%;
}

textarea#code{
	width:100%;
	height:50%;
	font-family:'Anonymous Pro', monospace;
	font-size:4%;
}