@cherset "UTF-8";

/*全体*/
*{
	width:1200;
	margin:10px;
	color:#000000;
	background-color:#a6a6a6;
}
/*ヘッダー*/
h1#h-title{
	padding:30px;
	color:#ffffff;
	background-image:url("../images/header-image.png");
	background-repeat:no-repeat;
}
h1#h-title a{
	text-decoration:none;
}
/*左中央コンテンツ*/
div#content{
	float : left;
	margin : 0;
}

/*左メニュー*/
nav#navi{
	background-color:#82bedc;
	float:left;
	max-width:160px;
}
h3#menutext{
	padding-left:10px;
	background-color:#82bedc;
	font-size:90%;
}
ul#menu{
	padding-left:20px;
	list-style-type:none;
	background-color:#82bedc;
}
li#menu01,li#menu02,li#menu03,li#menu04,li#menu05,li#menu06{
	background-color:#82bedc;
	margin : 5px;
	font-size:80%;
}
li#menu01 a,li#menu02 a,li#menu03 a,li#menu04 a,li#menu05 a,li#menu06 a{
	background-color:#82bedc;
}
/*右連絡先*/
address#address{
	float : right;
	max-width:240px;
	margin:5px;
}
a#source{
	color: #0080fa
}